h1{
    margin: 15px 0; 
    text-align: center;
}
.red{
    color: red;
}

.container-detailproduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 10px auto;
}