.container-forcontact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.forcontact{
    width: 90%;
    max-width: 640px;
    margin-top: 25px;
}

.container-dnitype-dni{
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: end;
    gap: 10px;
}